<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[萌]</string>
	<string>[发呆]</string>
	<string>[喜欢]</string>
	<string>[紧张]</string>
	<string>[难过]</string>
	<string>[微笑]</string>
	<string>[亲亲]</string>
	<string>[奋斗]</string>
	<string>[惊讶]</string>
	<string>[酷]</string>
	<string>[困]</string>
	<string>[流汗]</string>
	<string>[闭嘴]</string>
	<string>[恐怖]</string>
	<string>[调皮]</string>
	<string>[疑问]</string>
	<string>[晕]</string>
	<string>[bye]</string>
	<string>[阴险]</string>
	<string>[大哭]</string>
	<string>[色]</string>
	<string>[OK]</string>
	<string>[委屈]</string>
	<string>[发怒]</string>
	<string>[赞]</string>
	<string>[可恶]</string>
	<string>[敲打]</string>
	<string>[大笑]</string>
	<string>[坏笑]</string>
	<string>[嘘]</string>
	<string>[天使]</string>
	<string>[偷看]</string>
	<string>[花]</string>
	<string>[西瓜]</string>
	<string>[胸章]</string>
	<string>[蛋糕]</string>
	<string>[coffee]</string>
</array>
</plist>
